@model IEnumerable<TennApp.Models.Tourney>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Torneos</h2>
<br />
<div class="card text-center">
    <div class="card-header">
        <h3>Nombre del torneo</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Poner listado de personas que asistiran a este torneo.</h5>
    </div>
</div>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFin)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TourneyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TourneyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TourneyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
