@model IEnumerable<TennApp.Models.PaymentMethod>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Métodos de pago</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentMethodID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentMethodID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentMethodID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
