@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<div align="center" class="section-title"><h2>Dashboard</h2></div>
<br />
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="dash-main-wrapper">
                <div class="number" name="@Model.TotalUsers" id="TotalUsers">@Model.TotalUsers</div>
                <div align="center" class="text"><a asp-controller="People" asp-action="Index">Total users</a></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="dash-main-wrapper">
                <div class="number">@Model.TotalCategories</div>
                <div align="center" class="text"><a asp-controller="Categories" asp-action="Index">Total categories</a></div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row bg-graphicSet">
        <div class="col-md-4">
            <div class="dash-second-wrapper">
                <div class="chart-box">
                    <div class="number" id="TotalYoungUsers" name="@Model.YoungUsers">@Model.YoungUsers</div>
                    <canvas id="young-chart" style="width:100%;height:auto;text-align:center;"></canvas>

                    <div align="center" class="legend-desc">Young users</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-second-wrapper">
                <div class="chart-box">
                    <div class="number" id="TotalAdultUsers" name="@Model.AdultUsers">@Model.AdultUsers</div>
                    <canvas id="adult-chart" style="width:100%;height:auto;text-align:center;"></canvas>

                    <div align="center" class="legend-desc">Adult users</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-second-wrapper">
                <div class="chart-box">
                    <div class="number" id="TotalOldUsers" name="@Model.OldUsers">@Model.OldUsers</div>
                    <canvas id="old-chart" style="width:100%;height:auto;text-align:center;"></canvas>

                    <div align="center" class="legend-desc">Old users</div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div name="@Model.TotalMen" id="TotalMales"></div>
    <div id="TotalFemales" name="@Model.TotalWomen"></div>
    <div class="row bg-graphicSet">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <canvas id="bar-chart" style="width:100%;height:auto;text-align:center;"></canvas>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        window.onload = function () {
            //Show young users percentage in pie chart - using Chartjs

            //Variables
            let youngUsersCount = parseInt($('#TotalYoungUsers').attr('name'));
            let adultUsersCount = parseInt($('#TotalAdultUsers').attr('name'));
            let oldUsersCount = parseInt($('#TotalOldUsers').attr('name'));
            let UsersCount = parseInt($('#TotalUsers').attr('name'));
            let TotalMen = parseInt($('#TotalMales').attr('name'));
            let TotalWomen = parseInt($('#TotalFemales').attr('name'));

            var data_young = {
                datasets: [{
                    data: [youngUsersCount, UsersCount],
                    backgroundColor: [
                        'rgb(255,109,55)',
                        'rgb(40,40,40)'
                    ],
                    borderColor: [
                        'rgb(255,109,55)',
                        'rgb(40,40,40)'
                    ],
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'Young users',
                    'Other users'
                ]
            };
            var data_adult = {
                datasets: [{
                    data: [adultUsersCount, UsersCount],
                    backgroundColor: [
                        'rgb(255,109,55)',
                        'rgb(40,40,40)'
                    ],
                    borderColor: [
                        'rgb(255,109,55)',
                        'rgb(40,40,40)'
                    ],
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    "Adult's users",
                    'Other users'
                ]
            };
            var data_old = {
                datasets: [{
                    data: [oldUsersCount, UsersCount],
                    backgroundColor: [
                        'rgb(255,109,55)',
                        'rgb(40,40,40)'
                    ],
                    borderColor: [
                        'rgb(255,109,55)',
                        'rgb(40,40,40)'
                    ],
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'Old users',
                    'Other users'
                ]
            };
            var young_ctx = document.getElementById("young-chart").getContext('2d');
            var youngChart = new Chart(young_ctx, {
                type: 'pie',
                data: data_young,
                options: {
                    legend: {
                        display: true,
                        labels: {
                            fontColor: 'rgb(0,0,0)'
                        },
                        position: 'bottom'
                    }
                }
            });
            var adult_ctx = document.getElementById("adult-chart").getContext('2d');
            var adultChart = new Chart(adult_ctx, {
                type: 'pie',
                data: data_adult,
                options: {
                    legend: {
                        display: true,
                        labels: {
                            fontColor: 'rgb(0,0,0)'
                        },
                        position: 'bottom'
                    }
                }
            });
            var old_ctx = document.getElementById("old-chart").getContext('2d');
            var oldChart = new Chart(old_ctx, {
                type: 'pie',
                data: data_old,
                options: {
                    legend: {
                        display: true,
                        labels: {
                            fontColor: 'rgb(0,0,0)'
                        },
                        position: 'bottom'
                    }
                }
            });
            var men_vs_women = new Chart(document.getElementById("bar-chart"), {
                type: 'bar',
                data: {
                    labels: ["Male", "Female"],
                    datasets: [
                        {
                            scale:10,
                            label: "Personas",
                            backgroundColor: ["#3e95cd", "#8e5ea2"],
                            data: [TotalMen, TotalWomen],
                            scaleOverride: true,
                            scaleSteps: 9,
                            scaleStartValue: 0,
                            scaleStepWidth: 1,
                        }
                    ]
                },
                options: {
                    legend: { display: true },
                    title: {
                        display: true,
                        text: 'Comparación de hombres y mujeres.'
                    }
                }
            });
        };
    </script>
}
